<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | انجمن علمی مهندسی و مدیریت پسماند ایران</title>
    <link rel="stylesheet" href="./assets/css/main.css">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v3.3.0/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="./assets/images/logo.png">
</head>
<body>

    {{ include 'components/header.html' }}

    <main id="main-content">
        {{ content }}
    </main>

    {{ include 'components/footer.html' }}

    <script src="./assets/js/main.js"></script>
</body>
</html>